body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-container {
  background: white;
  padding: 20px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  text-align: center;
}

#progress-text {
  margin-bottom: 5px;
  font-weight: bold;
}

#progress-bar {
  width: 100%;
  height: 12px;
  background: #ddd;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 20px;
}

#progress {
  height: 100%;
  width: 0;
  background: rgba(252, 157, 220, 0.898);
  transition: width 0.3s ease;
}

#progress.complete {
  background: #4caf50;
}


#quiz-box, #result-box {
  margin-top: 20px;
}

#options {
  list-style: none;
  padding: 0;
}

#options li {
  margin: 10px 0;
  padding: 10px;
  background: #eee;
  cursor: pointer;
  border-radius: 5px;
}

#options li.selected {
  background: rgba(252, 157, 220, 0.898);
  color: white;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background: rgba(252, 157, 220, 0.898);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: rgba(252, 157, 220, 0.898)
}

.hidden {
  display: none;
}

function updateProgress() {
  $("#progress-text").text(`Question ${currentQuestion + 1} of ${shuffledQuestions.length}`);
  const percent = ((currentQuestion) / shuffledQuestions.length) * 100;
  $("#progress").css("width", percent + "%");
}
